body{
    margin: 0;
    padding: 0;
    background-color: rgb(228, 248, 247);

}
nav{
    margin-top: 20px;
}

 nav ul li{
    display: inline;
    float: right;
    padding: 10px 10px;
    font-size: 20px;
    color: rgb(7, 7, 204);
    text-align: center;
    margin-bottom: 20%;
    font-family: serif;
    margin-top: -1%;
    
}
.content img{
    margin-left: 60%;
    margin-top: -28%;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    background-color: rgb(241, 247, 247);
    border-radius: 240px;
    border: 50px solid rgb(131, 216, 228);
   
    
  
}



.content{
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: sans-serif;
}
h4{
    font-size: 20px;

}

h2{
    background:rgb(165, 247, 243);
    margin-top: -10%;
    left:50px;
    width:150px;
    height:40px;
    border: 0px;
    border-radius: 15px;
    font-size: 22px;
    text-align: center;
    font-family: sans-serif;

}

   


.para{
   display: inline;
   padding: 100px;
   text-align: center;
   margin-left: 60%;
   font-family: sans-serif;
}
h3{
    margin-left: 7%;
    margin-top: 10%;
    font-size: 52px;
    font-family: sans-serif;
}
section{
    background-color: rgb(253, 255, 255);
    height: 600px;
}
.line{
    margin-left: 60%;
    margin-top: -8%;
    font-size: 20px;

}
ul li{
    margin-top: 10%;
}
.text{
    display: flex;
    padding-left: 5%;
}
.plus{
   color: rgb(3, 3, 138);
}
.book{
    color: rgb(3, 3, 138);
}

.times{
    color: rgb(3, 3, 138);
}
.med{
    color: rgb(3, 3, 138);
}
.paw{
   color: rgb(3, 3, 138);
}
.hosp{
    color: rgb(3, 3, 138);
}

.one{
    padding: 60px;
    width: 190px;
    height: 90px;
    background-color: rgb(243, 242, 242);
}
.two{
    padding: 60px;
    margin-left: 5%;
    width: 190px;
    height: 90px;
    background-color: rgb(243, 242, 242);
}
.three{
    padding: 60px;
    margin-left: 5%;
    width: 190px;
    height: 90px;
    background-color: rgb(243, 242, 242);
}

.fa fa-bookmark-o{
    padding-left: 50px;
}

.fa fa-plus-circle{
    margin-bottom: 3%;
}

.text-2{
    display: flex;
    padding-left: 5%;
}
.surgi{
    padding: 80px;
    width: 160px;
    height: 90px;
    margin-top: 3%;
    background-color: rgb(243, 241, 242);
}
.pertu{
    padding: 80px;
    width: 150px;
    height: 90px;
    margin-top: 3%;
    margin-left: 3%;
    background-color: rgb(243, 241, 242);

}
.pet{
    padding: 80px;
    width: 180px;
    height: 80px;
    margin-left: 3%;
    margin-top: 3%;
    background-color: rgb(243, 241, 242);
    
    
}
.section-3{
    background-color: rgb(227, 250, 248);
    height: 700px;
}

.section-3 img{
    width: 400px;
    height: 400px;
    padding-left: 7%;
    padding-bottom: 5%;


}

h5{
    margin-top: -32%;
    font-size: 30px;
    margin-left: 60%;
    font-family: sans-serif;
   
    
}
.line-2{
    margin-left: 55%;
    margin-top: -1%;
    font-size: 20px;
    font-family: sans-serif;

}
h6{
    margin-top: 19%;
    font-size: 29px;
    margin-left: 10%;
}
.contact{
    background:rgb(250, 254, 255);
    margin-top: -18%;
    margin-left: 700px;
    width:200px;
    height:40px;
    border: 0px;
    border-radius: 15px;
    font-size: 24px;
    text-align: center;

}
.statement p{
   font-size: 14px;
   padding-left: 700px;
   margin-top: 7%;
   font-family: sans-serif;

}
h7{
    font-size: 22px;
    color: rgb(4, 4, 116);
}
h8{
    font-size: 22px;
    color: rgb(4, 4, 116);
}
h9{
    font-size: 22px;
    color: rgb(4, 4, 116);
}
h10{
    font-size: 22px;
    color: rgb(4, 4, 116);
}
h11{
    font-size: 22px;
    color: rgb(4, 4, 116);
}
h12{
    font-size: 22px;
    color: rgb(4, 4, 116);
}
.statement{
    background-color: rgb(220, 245, 250);
    height: 110px;
}
.sec{
    padding: 70px;
    width: 350px;
    height: 180px;
    margin-left: 3%;
    margin-top: 3%;
   
    
}
.sec-2{
  
    width: 200px;
    height: 280px;
    margin-top: 10%;
    margin-top: 3px;

}



.sec h13{
    font-size: 24px;
    font-family: sans-serif;
    
}
.sec img{
    padding-left: 0px;
    margin-top: 9%;
    size: 15px;
    border-radius: 50px;
    height: 54px;
    width: 64px;
    
}

.flat {
   padding-left: 70px;
   margin-top: -103%;
   
}

.sec-22{
    width: 350px;
}

.sec p{
    margin-top: 1%;
    margin-top: 3%;

}

.sec-2{
    padding-left: 800px;
    margin-top: -20%;
   
}


.sec-2 h14{
    font-size: 25px;
    font-family: sans-serif;
    
}
.sec-2 img{
    border-radius: 50px;
    height: 54px;
    width: 54px;
    margin-top: 9%;
   
}

.Doctors{
    padding-top: 50%;
    
}
.doc-1{
     margin-top: 4%;
     border-radius: 50%;
     width: 200px;
     height: 100px;
    
     

}
.sec-4{
    display: flex;
    margin-top: 44%;
    
}
.doc-1{
    margin-top: 1%;
    padding: 70px;
    background-color: rgb(197, 252, 252);
    height: 180px;
    border-radius: 70px;
    margin-left: 3%;
    margin-bottom: 5%;
 

}
.doc-2{
   
    background-color: rgb(197, 252, 252);
    border-radius: 90px;
    height: 190px;
    padding: 70px;
    margin-left: 3%;
}
.doc-3{
    background-color: rgb(197, 252, 252);
    padding: 70px;
    padding-left: 3%;
    border-radius: 70px;
    margin-left: 4%;
    height: 190px;
}
.doc-1 p{
    font-size: 20px;
    font-family: sans-serif;
}
.doc-2 p{
    font-size: 20px;
    font-family: sans-serif;
}
.doc-3{
    font-family: sans-serif;
    font-size: 20px;
}
.form{
    padding: 40px;
    margin: 40px;
    height: 200px;
    width: 800px;
    background-color: rgb(174, 248, 248);
    border-radius: 26px;
    font-size: 35px;
    font-family: sans-serif;
    margin-left: 12%;
    text-align: center;
}
.info{
    font-size: 25px;
    background-color: rgb(209, 255, 246);
    display: flex;
    height: 72px;
    
    
}
    

.btnn button{
    background-color: rgb(171, 239, 248);
    border-radius: 15px;
    height: 70px;
    width: 120px;
    margin-left: 320%;
    font-size: 18px;
  margin-right: 12%;
    
    
    
}
.info p{
    padding-top: -2%;
    padding-left: 4%;
    
}
.footer-1{
    height: 300px;
}

.footer-1 p{
    font-size: 31px;
    margin-left: 5%;

}
.media{
    margin-left: 5%;
    color: blue;
    margin-top: 2%;

}
.list-1{
    margin-left: 5%;
    font-size: 15px;
}

.footer-2{
    margin-left: 24%;
    margin-top: -26%;
}
.footer-2 p{
    font-size: 31px;
    margin-left: -1%; 

}

.footer-3{
    margin-left: 44%;
    margin-top: -16%;

}
.footer-3 p{
    font-size: 30px;
}
.footer-4{
    margin-left: 66%;
    margin-top: -17%;
}
.footer-4 p{
    font-size: 31px;
    margin-left: -1%;
    font-family: sans-;
}

footer{
    margin-top: 1%;
    font-family: sans-serif;
   
}
.star-1{
    color: rgb(153, 102, 6);
}

.star-2{
    color: rgb(153, 102, 6);
}




    

